:root{
  --cor-bg: #16161A;
  --cor-prima: #1DCD9F;
  --cor-prima-dk: #169976;
  --cor-secun: #7F5AF0;
  --cor-titulo: #FDFDFD;
  --cor-texto: #94A1B2;
}

html, body{
  height: 100%;
  font-size: 16px;
}


:root {
  --cor-bg: #16161A;
  --cor-prima: #1DCD9F;
  --cor-prima-dk: #169976;
  --cor-secun: #7F5AF0;
  --cor-titulo: #FDFDFD;
  --cor-texto: #94A1B2;
}

[data-theme="dark"] {
  --cor-bg: #FDFDFD;
  --cor-prima: #7F5AF0;
  --cor-prima-dk: #169976;
  --cor-secun: #1DCD9F;
  --cor-titulo: #16161A;
  --cor-texto: #7c8188;
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  transition: all 0.2s;
  padding: 0 20px;
  background-color: var(--cor-bg);
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  grid-auto-columns: 130px;
  position: relative;
}
h1{ font-size: clamp(30px, 4vw, 56px); }
h2{ font-size: clamp(24px, 4vw, 36px); }

h1{
  color: var(--cor-titulo);
}

p{
  color: var(--cor-texto);
  font-size: clamp(14px, 4vw, 16px);
}


