.sobre{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 80px auto 80px;

    header{
        display: flex;
        padding-top: 20px;

        .esv{
            display: none;
        }
        
    }
        
    main{
        display: grid;

        @media screen and (max-aspect-ratio: 1/1) {
            grid-template-rows: 1fr 1fr;
        }
          
          /* Quando a div pai estiver "deitada" (largura > altura) */
        @media screen and  (min-aspect-ratio: 1/1) {
            grid-template-columns: 1fr 1fr;
    
            @media screen and (min-width: 768px) {
                grid-template-columns: calc(50% + 65px) auto;
                width: calc(100% - 130px);
                
            }
        }

        div{
            padding: 0 10px;
            text-align: justify;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1{
                margin: 0 auto;
                text-align: left;
                width: 100%;
                max-width: 500px;
                color: var(--cor-titulo);

                .traco{
                    height: 3px;
                    width: 30%;
                    margin-top: 10px;
                    background-color: var(--cor-prima);
                }
            }

            p{
                margin: 0 auto;
                max-width: 500px;
                color: var(--cor-texto);
            }
        }

        .a{
        }

        .b{
            background-color: rgba(84, 84, 159, 0.489);

            .container-carrossel {
                position: relative;
                width: 100%;
                max-width: 400px;
                aspect-ratio: 1 / 1;
                margin: 50px auto;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background-color: #f5f5f5;

                .ponto-central {
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    background-color: #ff0000;
                    border-radius: 50%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 10;
                }

                $raio: 200%;

                .item-carrossel {
                    position: absolute;
                    width: 20%;
                    aspect-ratio: 1 / 1;
                    background-color: #3498db;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    font-weight: bold;
                    transform: translateY($raio) ;
                    /* Posição inicial (topo do círculo) */
                    transform-origin: 0 200px; /* 200px é o raio da trajetória */
                    animation: rotacao 20s linear infinite;

                            /* Ajustar o tempo de animação para cada item */
                    &:nth-child(1) { animation-delay: 0s; }
                    &:nth-child(2) { animation-delay: -3s; }
                    &:nth-child(3) { animation-delay: -6s; }
                    &:nth-child(4) { animation-delay: -9s; }
                    &:nth-child(5) { animation-delay: -12s; }
                    
                    @keyframes rotacao {
                        0% {
                            transform: rotate(0deg) translateY($raio) rotate(0deg);
                        }
                        100% {
                            transform: rotate(360deg) translateY($raio)  rotate(-360deg);
                        }
                    }

                    
                }
            }
       
        }
    }
}