.Section{
    flex-grow: 1;
    max-width: 1480px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    //background-color: rgba(4, 163, 163, 0.141);

    .interface{
        flex-grow: 1;
        position: relative;    
        transition: all 1s;
    }

    .espaco{
        width: 100%;
        height: 60px;
    }
}