.shadow{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 200;
}

.PopHabilidade{
    position: absolute;
    width: calc(100% - 10px);
    max-width: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--cor-bg);
    //border: 1px solid var(--cor-texto);
    z-index: 210;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 4px var(--cor-texto);

    .closed{
        text-align: right;
        //background-color: red;

        .icon{
            //background-color: blue;
            font-size: 26px;
            border-radius: 50%;
            background-color: var(--cor-bg);
            color: var(--cor-texto);
            cursor: pointer;

            &:hover{
                filter: brightness(90%);
                transform: scale(0.9);
            }
        }
    }
    
    .img{
        width: 30%;
        aspect-ratio: 1 / 1;
        margin: 0 auto;

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    h1{
        font-size:clamp(24px, 5vw, 30px); 
        text-align: center;
        color: var(--cor-titulo);
        margin: 10px;
    }

    p{
        text-align: justify;
        margin: 0 10px;
        margin-bottom: 20px;
        font-size: clamp(14px, 2vw, 16px);
    }
}