@media screen and (max-width: 600px){
    .home{
        main{
            flex-direction: column;
 

            .apresentacao{
                width: 100%;
                height: 50%;
                align-items: center;
            }

            .perfil{
                width: 100%;
                height:50%;
                margin-right: 0;
            }

            .slides{
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                padding-right: 20px;
            }
        }
        
        .seta{
            height: 100px;

            .center{
                justify-content: center;
            }
        }
    }
}