
.Home{
    width: 100%;
    height: 100%;
    container-type: size; 
    resize: none;
    display: flex;
    flex-direction: column;
    //background-color: rgba(255, 0, 0, 0.105);

    .desktop{
        width: 100%;
        height: 100%;
        display: grid;
        column-gap: 20px;

        @container (min-width: 700px) {
            grid-template-columns: 1fr 1fr;
        }

        @container (max-width: 700px) {
            grid-template-rows: 1fr 1fr;

            @media screen and (min-width: 768px){
                justify-content: center;
            }
        }

        .apresentacao{
            display: flex;
            align-items: center;
            justify-content: center;
            //background-color: blue;

            .center{
                white-space: nowrap;
                width: 100%;
                max-width: 500px;
                color: var(--cor-titulo);   
                //background-color: red;

                p{  
                    white-space: initial;
                    text-align: justify;
                    color: var(--cor-texto);
                }   
            
                .icons_contato{
                    width: 100%;
                    height: 80px;
                    display: grid;
                    grid-template-columns: repeat(4, 50px) auto;
                    align-items: center;

                    @mixin sugir($tempo: 1s, $delay: 0s){
                        @keyframes sugir {
                            100% {
                                left: 0;
                                filter: opacity(1);
                              }
                        }
    
                        animation: sugir $tempo forwards;
                        animation-delay: $delay;
                    }

                    a{  
                        position: relative; 
                        left: -100px;
                        filter: opacity(0);
                        width: 36px;
                        height: 36px;
                        margin-right: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 28px;
                        border: 3px solid var(--cor-prima);
                        border-radius: 2px;
                        color: var(--cor-prima);
                        transition: all 0.2s;
                        flex-shrink: 0;

                        &:hover{
                            width: 40px;
                            height: 40px;
                            font-size: 32px;
                            margin-right: 16px;
                        }

                        @for $i from 0 through 4 {
                            &:nth-child(#{4 - $i}) {
                              @include sugir(0.5s, $i * 0.2s);
                            }
                        }
                    }

                    .line{
                        height: 4px;
                        background-color: var(--cor-secun);
    
                        .line_roxa{
                            width: 50%;
                            height: 100%;
                            background-color: var(--cor-prima);
                            animation: roxa 10s infinite linear;
    
                            @keyframes roxa{
                                20%{
                                    width: 90%;
                                }
                            
                                40%{
                                    width: 20%;
                                }
                            
                                60%{
                                    width: 75%;
                                }
                            
                                80%{
                                    width: 10%;
                                }
                            }
                        }
                    }
                }
            }
        }

        .perfil{
            display: grid;
            align-items: center;
            position: relative;
            resize: vertical; 
            overflow: auto;
            container-type: size; 
            resize: none;

            @container (min-aspect-ratio: 1/1) {
                .aux{
                    height: 100%;
                    max-height: 400px;
                }
            }

            @container (max-aspect-ratio: 1/1) {
                .aux{
                    width: 100%;
                    max-width: 400px;
                }
            }
            .aux{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(0.8);
                aspect-ratio: 1 / 1;
                display: flex;
                justify-content: center;
                align-items: center;
                filter: opacity(0);
                transition: all 2s;

                &.true{
                    filter: opacity(1);
                    transform: translate(-50%, -50%) scale(1);
                }

                .st{
                    transform: rotate(180deg);
                }

                .foto{
                    position: relative;
                    height: 80%;
                    aspect-ratio: 1 / 1;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;   
                    z-index: 20;

                    img{
                        height: 100%;
                    }
                }

                .giro{
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);//rotate(45deg);
                    width: 90%;
                    aspect-ratio: 1 / 1;    
                    z-index: 10;

                    .quadrado{
                        position: absolute;
                        width: 36%;
                        aspect-ratio: 1 / 1;
                        border: 3px solid var(--cor-prima);
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        @mixin pulsar($escala: 1.1, $duracao: 1s) {
                            @keyframes pulsar {
                              45% { transform: scale(1); }
                              50% { transform: scale($escala); }
                              55% { transform: scale(1); }
                            }
                            animation: pulsar $duracao infinite;
                        }

                        &.um{
                            top: 0;
                            left: 0;
                            @include pulsar(1.1, 3s)
                        }

                        &.dois{
                            bottom: 0;
                            right: 0;
                            @include pulsar(1.1, 4s)
                        }

                        .linha{
                            width: 80%;
                            height: 80%;
                            
                            &.um{
                                border-top: 4px solid var(--cor-secun);
                                border-left: 4px solid var(--cor-secun);
                            }

                            &.dois{
                                border-bottom: 4px solid var(--cor-secun);
                                border-right: 4px solid var(--cor-secun);
                            }
                        }
                    }
                }
            }
        }
    }
}