.Header{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    //background-color: rgba(0, 255, 255, 0.229);

    .btn-tema{
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
}