.Projetos{
    width: 100%;
    height: 100%;
    //background-color: rgba(0, 255, 255, 0.211);

    main{
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
        //background-color: rgba(255, 0, 0, 0.211);

        h1{
            font-size: clamp(26px, 4vw, 36px);
            padding-bottom: 20px;
            width: 100%;
            text-align: center;

            .traco{
                width: 100%;
                height: 4px;
                background-color: var(--cor-prima);
                margin-top: 10px;
            }
        }

        section{
            width: 100%;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            //background-color: rgba(0, 255, 255, 0.167);

            .container-projetos{
                position: relative;
                width: 100%;
                flex-grow: 1;
                border: 2px solid rgba(0, 255, 255, 0.167);
                display: flex;
                justify-content: right;
                overflow: auto;

                .box-projeto{
                    flex-shrink: 0;
                    width: 300px;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                    //background-color: rgba(0, 255, 255, 0.167);

                    @for $i from 1 through 30{

                        @if $i % 2 == 0{
                            &:nth-child(#{$i}){
                                justify-content: end;
                                //background-color: rgba(85, 255, 0, 0.167);

                                .decoracao.bot{
                                    display: none;
                                }
                            }
                        }
                        @else{
                            &:nth-child(#{$i}){
                                justify-content: start;
                                //background-color: rgba(212, 255, 0, 0.167);
                                
                                .decoracao.sup{
                                    display: none;
                                }
                            }
                        }
                    }

                    .projeto-sigle{
                        width: calc(100% - 10px);
                        height: 300px;
                        background-color: rgb(206, 206, 206);
                        border-radius: 5px;
                        z-index: 20;
                    }

                    .decoracao{
                        width: 100%;
                        flex-grow: 1;
                        display: flex;
                        align-items: center;
                        //background-color: rgba(128, 0, 0, 0.197);

                        $cor-linha: var(--cor-prima-dk);

                        &.sup{
                            .plug-anterior{
                                width: 10px;
                                height: 80px;
                                background-color: var(--cor-prima);
                                border-radius: 0 5px 5px 0;
                                z-index: 20;
                            }

                            .aux{
                                height: 100%;
                                flex-grow: 1;
                                display: flex;
                                flex-direction: column-reverse;
                                //  background-color: rgba(255, 228, 196, 0.171);

                                .plug-atual{
                                    width: 80px;
                                    height: 10px;
                                    background-color: var(--cor-prima);
                                    border-radius: 5px 5px 0px 0px;
                                    align-self: center;
                                    z-index: 20;
                                }

                                .linha{
                                    width: calc(50% + 10px);
                                    height: calc(50%);
                                    border-top: 20px solid $cor-linha;
                                    border-right: 20px solid $cor-linha;
                                    border-radius: 0 40px 0 0;
                                    position: relative;
                                    z-index: 10;
                                    //background-color: blueviolet;

                                    .bola{
                                        width: 20px;
                                        height: 20px;
                                        //background-color: var(--cor-secun);
                                        position: absolute;
                                        transition: all 2s;
                                        transform-origin: 0px 40px;
                                        animation: percuso 4s linear infinite;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;     
                                        font-size: 40px;
                                        //overflow: auto;
                                        
                                        @keyframes percuso {
                                            0%{
                                                transform: translate(-40px, -20px);
                                            }

                                            40%{
                                                transform: translate(115px, -20px);
                                            }

                                            60%{
                                                transform: translate(115px, -20px) rotate(90deg);
                                            }

                                            100%{
                                                transform: translate(115px, 100px) rotate(90deg);
                                            }
                                        }

                                        svg{
                                            fill: var(--cor-secun);
                                        }
                                    }
                                }
                            }
                        }

                        &.bot{
                            .plug-anterior{
                                width: 10px;
                                height: 80px;
                                background-color: var(--cor-prima);
                                border-radius: 0 5px 5px 0;
                                z-index: 20;
                            }

                            .aux{
                                height: 100%;
                                flex-grow: 1;
                                display: flex;
                                flex-direction: column;
                                //background-color: rgba(255, 228, 196, 0.171);
                                
                                .plug-atual{
                                    width: 80px;
                                    height: 10px;
                                    background-color: var(--cor-prima);
                                    border-radius: 0 0 5px 5px;
                                    align-self: center;
                                    z-index: 20;
                                }

                                .linha{
                                    width: calc(50% + 10px);
                                    height: calc(50%);
                                    border-right: 20px solid $cor-linha;
                                    border-bottom: 20px solid $cor-linha;
                                    border-radius: 0 0 40px 0;
                                    //background-color: rgb(52, 23, 79);
                                    position: relative;

                                    .bola{
                                        width: 20px;
                                        height: 20px;
                                        position: absolute;
                                        transition: all 2s;
                                        transform-origin: 0px -40px;
                                        animation: percuso-bot 4s linear infinite;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;     
                                        font-size: 40px;
                                        bottom: 0;
                                        left: 0;
                                        z-index: 10;
                                        //background-color: var(--cor-secun);
                                        //overflow: auto;
                                        
                                        @keyframes percuso-bot {
                                            0%{
                                                transform: translate(-40px,  20px);
                                            }

                                            40%{
                                                transform: translate(112px, 20px);
                                            }

                                            60%{
                                                transform: translate(95px, 20px) rotate(-90deg);
                                            }

                                            100%{
                                                transform: translate(95px, -100px) rotate(-90deg);
                                            }
                                        }

                                        svg{
                                            fill: var(--cor-secun);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            nav{
                display: flex;
                justify-content: space-between;
                //background-color: red;
                width: 100%;
                height: 40px;
                align-items: center;

                button{
                    width: 70px;
                    display: flex;
                    align-items: center;
                    border: none;
                    font-size: 16px;
                    color: var(--cor-texto);
                    background-color: transparent;
                    cursor: pointer;

                    &:hover{
                        filter: brightness(120%);   
                    }

                    &.left{
                        justify-content: right;

                        .icon{
                            left: 0;
                            animation: moveLeft 3s linear infinite;

                            @keyframes moveLeft {
                                0%, 100%{
                                    transform: translateX(0);
                                }

                                50%{
                                    transform: translateX(5px);
                                }
                            }
                        }
                    }

                    &.right{
                        justify-content: left;

                        .icon{
                            right: 0;
                            animation: move 3s linear infinite;

                            @keyframes move {
                                0%, 100%{
                                    transform: translateX(0);
                                }

                                50%{
                                    transform: translateX(-5px);
                                }
                            }
                        }
                    }

                    .icon{
                        font-size: 26px;
                        color: var(--cor-prima);
                        position: absolute;
                        
                    }
                }
            }
        }
    }
}