.Sobre{
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    //background-color: rgba(0, 115, 255, 0.068);

    .desktop{
        width: 100%;
        height: 100%;
        display: none;

        @media screen and (min-width: 600px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 20px;
        }

        .sobre-mim, .onde-estou{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            //background-color: aqua;
        }

        .sobre-mim{
            .texto.true{
                left: -100%;
                filter: opacity(0);
            }
        }

        .onde-estou{
            .texto.true{
                left: 100%;
                filter: opacity(0);
            }
        }
        
        .texto{
            margin-bottom: 20px;
            text-align: justify;
            position: relative;
            left: 0;
            filter: opacity(1);
            transition: all 1s;

            h1{
                white-space: nowrap;
                font-size: clamp(26px, 4vw, 36px);

                .traco{
                    width: 100%;
                    max-width: 200px;
                    height: 4px;
                    background-color: var(--cor-prima);
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }

            p{
                font-size: clamp(14px, 2vw, 16px);
            }
        }

        .fig{
            display: flex;
            justify-content: space-evenly;
            height: 100%;
            max-height: 300px;
            //background-color: red;
            position: relative;

            @media screen and (max-width: 900px) {
                max-height: 220px;

                .st{
                    top: 0 !important;
                }
            }

            .st{
                width: 50% !important;
                max-width: 260px;


            }
        }
    }
}


