.sobre.desktop{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 80px auto 70px;

    @media screen and (max-width: 768px) {
        display: none;
    }

    header{
        display: flex;
        padding-top: 20px;
        
    }
        
    main{
        display: grid;
        overflow: hidden;
        grid-template-rows: 50%;
        width: calc(100% - 130px);
       // background-color: red;

        @media screen and (max-width: 768px) {
            width: 100%;
        }

        section{
            display: flex;
            width: 100%;

            .texto{
                width: 100%;
                max-width: 600px;
                //background-color: yellow;

                h1{
                    font-size: clamp(26px, 4vw, 32px);
                    color: var(--cor-titulo);
                    width: 100%;
                    max-width: 500px;
                    margin: 0 auto;

                    .traco{
                        width: 50%;
                        max-width: 200px;
                        height: 3px;
                        background-color: var(--cor-prima);
                        margin-top: 10px;
                    }
                }

                p{  
                    width: 100%;
                    max-width: 500px;
                    margin: 0 auto;
                    text-align: justify;
                    color: var(--cor-texto);
                    font-size: clamp(14px, 2vw, 16px);
                }

                @media screen and (max-width: 900px) {
                    max-width: 520px;

                    h1, p{
                        margin: initial;
                    }
                }
            }

            .fig{
               //background-color: rgba(121, 121, 255, 0.184);
                flex-grow: 1;
                position: relative;

                .bolas{
                    @media screen and (max-width: 930px) {
                        left: -50px !important;
                        bottom: -50px !important;
                    }
                }
            }

            &.bot{
                .texto{
                    @media screen and (max-width: 900px) {
                        display: flex;
                        flex-direction: column;
                        align-items: end;   
                    }
                }
                .fig{

                    .bolas{

                        @media screen and (max-width: 930px) {
                            right: initial;
                            left: 0 !important;
                            bottom: 30px !important;  
                            transform: rotate(90deg);
                        }
                    }
                }
            }
        }
    }
}